<!DOCTYPE HTML>
<html>
<head>
<title>Aid Watch Dog SMS</title>

<!-- BLUEPRINT -->
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->

<!-- CSS -->
<link rel="stylesheet" href="/css/style.css">

<!-- JS -->
<script type="text/javascript" src="/js/require-jquery-1.4.4.min.js"></script>
<!--<script type="text/javascript" src="/js/mustache.jQuery.js"></script>-->
<script type="text/javascript" src="/js/init.js"></script>

</head>
<body>
<h1>Aid Watch Dog</h1>
<p>Send an sms to +18017843577 with the name of the agency, where you are, and how they did</p>
{{{body}}}
</body>
</html>